html,
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 10px;
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--c-background);
    color: var(--c-text);
}

#logo {
    width: 375px;
    display: inline;
    margin: -75px 0 -55px 0;
}

h1 {
    font-size: 25px;
    display: inline;
    letter-spacing: 1.03px;
}

h1,
h2 {
    font-weight: 900;
}

h2 {
    margin: 7.5px 0px;
    font-size: 20px;
}

#categories-cnt {
    width: 100%;
    display: flex;
}

#left-column,
#right-column {
    flex: 1;
    padding: 15px;
}

.toggle-pill-color {
    display: flex;
    align-items: center;
    margin: 4px;
}

.category {
    margin: 0 10px 0 0px;
    font-size: 19px;
    font-weight: 500;
    text-align: left;
    flex: 1;
}

.toggle-pill-color input[type="checkbox"] {
    display: none;
}

.toggle-pill-color input[type="checkbox"]+label {
    display: block;
    position: relative;
    width: 3em;
    height: 1.6em;
    border-radius: 1em;
    background: #ccc;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}

.toggle-pill-color input[type="checkbox"]+label:before {
    content: "";
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 1em;
    background: #fff;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.toggle-pill-color input[type="checkbox"]:checked+label {
    background: #47cf73;
}

.toggle-pill-color input[type="checkbox"]:checked+label:before {
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    left: 1.6em;
}

.divisors {
    color: #21263d;
    box-sizing: border-box;
    border-top: 2.5px solid rgba(0, 0, 0, .06);
    width: 100%;
}